html {
    font-size: 12px;
    font-family: -apple-system,PingFang SC,Hiragino Sans GB,Microsoft YaHei,Helvetica Neue,Arial,sans-serif;
    /* 文本抗锯齿 */
    text-rendering: optimizeLegibility;
    color: #333;
    background-color: #f4f5f5;
  }
  img {
    width: auto;
    height: auto;
    /* 图片在有的浏览器里会默认加边框 */
    border-style: none;
  }
  
  a {
    text-decoration: none;
    cursor: pointer;
    color: #909090;
  }
  body{
      margin: 0;
      font-size: 12px;
      line-height: normal;

  }
  .container{
      position: relative;
      margin: 0 auto;
      width: 100%;
      height: 200px;
      background-color: yellow;
      /* 从PC端到移动端 屏宽在变 适配时考虑的是宽度
      max-width在PC上生效，960px 左右留白，pc上可行，移动设备<600 max-width失效 */
      max-width: 960px;
  }
  #juejin {
      /* 水平方向上超出则隐藏 */
    overflow-x: hidden;
  }
  /* 界面从上到下 从左到右 */
  .main-header-box{
    height: 5rem;
    background-color: lightyellow;
    position: relative;
  }
  